<section class="vh-80">
  <div class="container py-5 h-70">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form [formGroup]="form" (submit)="submit()">

          <!-- name input -->
          <div class="form-outline mb-4">
            <input formControlName="name" type="name" placeholder="Name" id="form1Example13" class="form-control form-control-lg" />
          </div>

          <!-- email input -->
          <div class="form-outline mb-4">
            <input formControlName="email" type="email" placeholder="E-mail" id="form1Example13" class="form-control form-control-lg" />
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input formControlName="password" type="password" placeholder="Password" id="form1Example23" class="form-control form-control-lg" />
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>

          <!-- <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
          </div>


          <p class="text-center-p">Already Registered? </p>
          <a routerLink="/login" class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998"
            role="button">Login Here</a> -->

        </form>
      </div>
    </div>
  </div>
</section>
